<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.awaken">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="io.awaken.AwakenApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_awaken"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MainTheme">

        <activity
            android:name="io.awaken.ui.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.awaken.ui.connections.NewConnectionActivity"
            android:configChanges="orientation"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MainTheme"></activity>
    </application>

</manifest>
